.equipe{
    margin: 2%;
}

.back-color {
    background-color: #f18972 !important;
}

.pere-text a {
    color : #fff176 !important;
}

.pere-text a:hover, .pere-text a:focus {
    text-decoration: underline;
    color : yellow !important;
}

main img {
    max-height: 30vh;
    margin : auto ;
}

.card-content {
    padding : 2% !important;
}
.logo{
    width: 7%;
}