body {
    background-color: #ffebee !important;
}

nav {
    width: 80%;
    padding : 0 10% 0 10%;
}

.carroussel {
    height: calc(100VH - 64px);
    text-align: center;
}

.carroussel .produit img {
    height: 80%;
    max-width: 100%;
}

.produit {
    max-width : 100%;
    height: 100%;
    margin-top: 1%;
}

.cache {
    display: none;
}

.carroussel .produit p {
    height: 17%;
    background-color: inherit;
    font-size: 1.25rem;
}

.max-vh {
    height: 100VH;
    width: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

.left {
    width: 50%;
    height: 100%;
    display: table-row;
}

.video {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.divPrez{
    height: calc(50% - 2.8rem);
    margin-left: .5rem;
}

.pagination p span {
    font-size: 1.25rem;
    margin : .5rem;
    cursor :pointer;
}

.pageActive {
    color : red;
    font-size : 1.3rem !important;
}

.pagination {
    position: absolute;
    left: 5%;
    bottom: 0;
    width :20%;
    text-align: justify;
}

/*Style de l'image*/
.boxed {
    padding-top : 5%;
    margin: auto;
    height: 100% !important ;
    max-width : 100% !important;
}

.img {
    text-align : center !important;
}

.vid {
    width: 100%;
    margin-left: 50%;
}
.logo{
    width: 7%;
}